--
-- PostgreSQL database dump
--

CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- =============================
-- TABLAS
-- =============================

CREATE TABLE public.usuarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    rol text DEFAULT 'usuario',
    activo boolean DEFAULT true,
    created_at timestamp DEFAULT now(),
    CONSTRAINT usuarios_rol_check CHECK (rol IN ('admin','usuario')),
    CONSTRAINT usuarios_email_key UNIQUE (email),
    CONSTRAINT usuarios_pkey PRIMARY KEY (id)
);

CREATE TABLE public.clientes (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    nombre text NOT NULL,
    telefono text,
    direccion text,
    zona text,
    tipo text DEFAULT 'menudeo',
    garrafones_prestados integer DEFAULT 0,
    notas text,
    activo boolean DEFAULT true,
    created_at timestamp DEFAULT now(),
    CHECK (tipo IN ('mayorista','menudeo','ruta'))
);

CREATE TABLE public.productos (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    nombre text NOT NULL,
    tipo text,
    descripcion text,
    precio_venta numeric(10,2) DEFAULT 0,
    precio_costo numeric(10,2) DEFAULT 0,
    stock_actual integer DEFAULT 0,
    stock_minimo integer DEFAULT 10,
    unidad text DEFAULT 'pieza',
    activo boolean DEFAULT true
);

CREATE TABLE public.proveedores (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    nombre text NOT NULL,
    contacto text,
    telefono text,
    email text,
    direccion text,
    productos_suministra text,
    notas text,
    activo boolean DEFAULT true
);

CREATE TABLE public.compras (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    folio text,
    proveedor_id uuid REFERENCES proveedores(id),
    fecha date,
    subtotal numeric(10,2),
    total numeric(10,2),
    metodo_pago text,
    estado text,
    notas text
);

CREATE TABLE public.compra_detalle (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    compra_id uuid REFERENCES compras(id) ON DELETE CASCADE,
    producto_id uuid REFERENCES productos(id),
    cantidad integer,
    precio_unitario numeric(10,2),
    subtotal numeric(10,2)
);

CREATE TABLE public.ventas (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    folio text,
    cliente_id uuid REFERENCES clientes(id),
    fecha date,
    subtotal numeric(10,2),
    descuento numeric(10,2),
    total numeric(10,2),
    metodo_pago text,
    tipo_venta text,
    estado text,
    garrafones_recibidos integer DEFAULT 0,
    ruta_id uuid,
    notas text
);

CREATE TABLE public.venta_detalle (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    venta_id uuid REFERENCES ventas(id) ON DELETE CASCADE,
    producto_id uuid REFERENCES productos(id),
    cantidad integer,
    precio_unitario numeric(10,2),
    subtotal numeric(10,2)
);

CREATE TABLE public.creditos (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    cliente_id uuid REFERENCES clientes(id),
    monto_total numeric NOT NULL,
    saldo_actual numeric NOT NULL,
    estado text DEFAULT 'pendiente',
    created_at timestamp DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE public.abonos (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    credito_id uuid REFERENCES creditos(id),
    monto numeric NOT NULL,
    created_at timestamp DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE public.movimientos_inventario (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    producto_id uuid REFERENCES productos(id),
    tipo_movimiento text,
    cantidad integer,
    stock_anterior integer,
    stock_nuevo integer,
    motivo text,
    referencia_id uuid,
    referencia_tipo text,
    fecha date,
    notas text
);

CREATE TABLE public.pedidos (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    folio text,
    cliente_id uuid REFERENCES clientes(id),
    fecha_pedido date,
    fecha_entrega date,
    total_estimado numeric(10,2),
    estado text,
    direccion_entrega text,
    zona text,
    notas text,
    venta_id uuid REFERENCES ventas(id)
);

CREATE TABLE public.pedido_detalle (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    pedido_id uuid REFERENCES pedidos(id) ON DELETE CASCADE,
    producto_id uuid REFERENCES productos(id),
    cantidad integer
);

CREATE TABLE public.rutas (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    folio text,
    fecha date,
    piloto text,
    camion text,
    zona_ruta text,
    hora_salida time,
    hora_regreso time,
    total_garrafones_salida integer DEFAULT 0,
    total_otros_salida integer DEFAULT 0,
    efectivo_esperado numeric(10,2),
    efectivo_entregado numeric(10,2),
    diferencia_efectivo numeric(10,2),
    diferencia_garrafones integer,
    estado text,
    observaciones text,
    notas_regreso text
);

CREATE TABLE public.ruta_detalle (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    ruta_id uuid REFERENCES rutas(id) ON DELETE CASCADE,
    producto_id uuid REFERENCES productos(id),
    cantidad_salida integer,
    cantidad_vendida integer,
    cantidad_devuelta integer
);

-- =============================
-- SEED (USUARIO ADMIN)
-- =============================

INSERT INTO public.usuarios (
    id,
    nombre,
    email,
    password,
    rol,
    activo
)
SELECT 
    gen_random_uuid(),
    'Admin',
    'admin@purificadora.com',
    '$2b$10$CDA94SYIYN80ypyYMAseuK/p8Muxy72kxi2EngQ08l.5QW8FYI9y',
    'admin',
    true
WHERE NOT EXISTS (
    SELECT 1 FROM public.usuarios WHERE email = 'admin@purificadora.com'
);

--------------------------------
-- RESTRICCIONES ADICIONALES
ALTER TABLE productos
ADD CONSTRAINT nombre_unico UNIQUE (nombre);